<h1 class="animated fadeIn fast">Sobre la Aplicacion</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda ullam nemo autem repellat maiores officiis reprehenderit possimus expedita mollitia vel! Ipsum quia doloremque sapiente. Iusto esse voluptatem impedit? Quisquam, atque. Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Autem praesentium aliquid iure error architecto ex id quisquam officia quae sunt fugiat accusantium aliquam voluptas deleniti, quo voluptates consequuntur nemo cupiditate.
</p>